:root {
    --eg-black: #19181A;
    --eg-purple: #A16E83;
    --eg-femmepurple: #4e3883;
    --eg-galaxy-purple: #A350A3;
    --eg-galaxy-red: #C1436D;
    --eg-galaxy-blue: #0F0C24;
    --eg-deepblue: #1d1d2c;
    --eg-yellow: #eba63f;
    /*#CEBC81;*/
    --eg-green: #438945;
    /*#479761;*/
    --eg-offwhite: #f7f4e9;
    --eg-softpink: #ffddcc;
    --eg-grey: #B19F9E;
}

body {
    background-color: var(--eg-galaxy-blue);
}

@font-face {
    font-family: eg-lydian;
    src: url('fonts/LYDIAN__.TTF');
}

a {
    text-decoration: none;
    color: inherit;
}

.eg-banner {
    text-align: center;
    background-color: var(--eg-galaxy-blue);
    color: var(--eg-yellow);
    font-family: eg-lydian;
}

.eg-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--eg-offwhite);
    /*font-family: eg-lydian;*/
    border-radius: 5px;
    border-style: solid;
    border-color: var(--eg-yellow);
    max-width: 50em;
}
@media screen and (max-width: 1000px) {
    .eg-container {
        width: 90%;
    } 
}
table a:hover {
    
    text-shadow: 0px 0px 5px var(--eg-galaxy-red);
}
time {
    padding-right: 2em;
}
td {
    padding-top: 3px;
    padding-bottom: 3px;
}

#twitter-logoo {
    height: 4em;
}

#eg-footer {
    text-align: center;
}
